
services:
  db:
    image: postgres:17.7
    container_name: postgres-db

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"

    volumes:
      - postgres-data:/var/lib/postgresql
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

    container_name: wikicook-backend

    ports:
      - "8080:8000"

    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

    depends_on:
      db:
        condition: service_healthy

    restart: unless-stopped

  better-auth-service:
    build: ./better-auth-service
    container_name: wikicook-auth
    env_file:
      - ./better-auth-service/.env.docker
    ports:
      - "8001:8001"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres-data:
